.cover{
  height: 200px;
  width: 200px;
  display: inline-flex;
  filter: grayscale(100%);
  margin-left: 55px;
}

.description{
  text-align: center;
}

.pause{
  height: 200px;
  width: 200px;
  display: inline-flex;
}

.video{
  display: none;
}
.line_vid{
  display:flex;
}

h1{
  text-align: center;
}

section{
  display: inline-flex;
}

table{
}
