<!DOCTYPE>

<html>
  <head>
      <title>Contact</title>
      <script src="script/contact.js"></script>
      <link rel="stylesheet" href="style/contact.css">
  </head>


<!--Dont overfill up trivia with more than 10 questions for this-->
<div id="content">
  <h2> Comments </h2>
    <div id="comments">
      <p id="no-comments"> There are no comments on this post yet.</p>
    </div>
    
<h2> Leave a Comment </h2>

<p><i> Your feedback is appreciated. </i></p>

<form id="comment-form" action="javascript:void(0);">
    <textarea id="comment-content" name"content"></textarea>
    <input type="submit" value="Post Comment">
</form>


</body>
</html>
