<!DOCTYPE html>
<html>
  <head>
    <title>Favorites</title>
    <link rel="stylesheet" href="style/Jeremie's Favorite.css">
  </head>

<body>

<h2> Jeremie's favorite </h2>


<div>
  <h4> Websites </h4>
  <ul id="aaa">
      <li class="you"> <a href="https://Youtube.com"> <img src="pictures/youtube.png" alt=Youtube/> </a>  </li>
     <li class="net"> <a href="https://Netflix.com"> <img src="pictures/netflix.jpeg" alt=Netflix/> </a>  </li>
    </ul>
</div>


<br>
<!--Find a way so that you can be able to make your movies side by side so that they dont take up as much space as they do now-->

    <div id="bbb">
      <h4> Movies </h4>

        <dl>
          <dt> Inception </dt> <dd><img src ="pictures/inception.jpeg"/></dd>
          <dt> Fury </dt> <dd><img src ="pictures/fury.jpeg"/></dd>
          <dt> Interstellar </dt> <dd><img src ="pictures/interstellar.jpeg"/></dd>
          <dt> Revenant </dt> <dd><img src ="pictures/revenant.jpeg"/></dd>
          <dt> Unbroken </dt> <dd><img src ="pictures/unbroken.jpeg"/></dd>
          <dt> Rush </dt> <dd><img src ="pictures/rush.jpeg"/></dd>
          <dt> Hacksaw Ridge</dt> <dd><img src="pictures/hacksaw.jpeg"/></dd>
        </dl>
    </div>


<br>

<!--Have the picture and the artist if you can and maybe hyperlinks if you decide on that eventually-->

    <div id="ccc">
      <h4> Albums and Songs </h4>

        <dl>
          <dt> DAMN </dt> <dd><img src ="pictures/DAMN.jpeg"/></dd>
          <dt> Forest Hills Drive </dt> <dd><img src ="pictures/fhd.jpeg"/></dd>
          <dt> Graduation </dt><dd><img src ="pictures/graduation.jpeg"/></dd>
          <dt> Magna Carta Holy Grail </dt><dd><img src ="pictures/mchg.jpeg"/></dd>
          <dt> Coloring Book </dt><dd><img src ="pictures/cb.jpeg"/></dd>
        </dl>
    </div>


  </body>
</html>
