<html>
  <body>
    <h1>My {{ name_of_madlib }} Madlib!</h1>
    <form method="post" action ="">
         <h3>Enter a name: <input type="text" name="noun1"/></h3>
         <h3>Enter an activity: <input type="text" name="activity"/></h3>
         <h3>Choose one: </h3>
         <input type="radio" name="teacher" value="Matthew">Matthew
     <br>
     <input type="radio" name="teacher" value="Victoria">Victoria
         <h3>Enter a Celebrity's Name:<input type="text" name="celebrity"/></h3>
         <h3>Enter a TV Show:<input type="text" name="show"/></h3>
    <h3><input type="checkbox" name="fun" value="FUNNNN!!!!!!!!!!!">
      Check here if you are having fun at CSSI<br>
 </form>

 <form method="post" action ="">
   <h4> Click your favorite genre of music:
     Rock
     <input type="checkbox" name=genre>
     Pop
     <input type="checkbox" name=genre>
     Rap
     <input type="checkbox" name=genre>
     Country
     <input type="checkbox" name=genre>
     EDM
     <input type="checkbox" name=genre>
     Trap
     <input type="checkbox" name=genre>
     Reggae
     <input type="checkbox" name=genre>
     Jazz
     <input type="checkbox" name=genre>
     Classical
     <input type="checkbox" name=genre>
     Soul
     <input type="checkbox" name=genre>
     Folk
     <input type="checkbox" name=genre>
   </h4>
   <br>
   <h4>Enter your favorite song:
     <input type="text" name=song>
   </h4>
   <br>
   <h4>Enter your favorite artist:
     <input type="text" name=artist>
   </h4>
   <br>
   <p><input type="submit" value="Submit"></p>
  </body>
</html>
