<!DOCTYPE html>

<html>
  <body>
    <head>
      <title>
        Be Frosty, Stay Mellow, Be BAANNGGEER
      </title>
      <link rel="stylesheet" href="style/music.css">
    </head>

  <h1>
    Be Frosty, Be Mellow, Be BAANNGGEER
  </h1>

  <br>
  <br>
  <br>
  <br>

<table>

<div class = "line_vid">

  <tr>
    <td>

  <div id = "reflective">
    <img class = "cover" src="pictures/space.jpg" hspace ="20" />
    <iframe class = "video" id = "reflective_vid" src="https://www.youtube.com/embed/H2-1u8xvk54?loop=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "happy" class = "cover" src="pictures/happy.jpg" hspace ="20" />
    <iframe class = "video" id = "happy_vid" src="https://www.youtube.com/embed/y6Sxv-sUYtM?loop=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "thunder" class = "cover" src="pictures/thunder.jpg" hspace ="20"/>
    <iframe class = "video" id = "thunder_vid" src="https://www.youtube.com/embed/nDq6TstdEi8?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "wind" class = "cover" src="pictures/wind.jpg" hspace ="20"/>
    <iframe class = "video" id = "wind_vid" src = "https://www.youtube.com/embed/RZSht3nW9lM?enablejsapi=1" framborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "beach" class = "cover" src="pictures/beach.jpg" hspace ="20"/>
    <iframe class = "video" id = "beach_vid" src="https://www.youtube.com/embed/qREKP9oijWI?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
</div>
  </tr>

<tr class = "description">
  <td> Reflective </td>
  <td> Happy </td>
  <td> Thunder </td>
  <td> Wind </td>
  <td> Beach </td>
</tr>

<div class = "line_vid">

  <tr>
    <td>

  <div>
    <img id = "volcano" class = "cover" src="pictures/volcano.jpg" hspace ="20"/>
    <iframe class = "video" id = "volcano_vid"src="https://www.youtube.com/embed/RjTF3zxtJ3I?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "birds" class = "cover" src="pictures/birds.jpg" hspace ="20" />
    <iframe class = "video" id = "birds_vid" src="https://www.youtube.com/embed/VeIhRdR2jsU?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "ocean" class = "cover" src="pictures/whale_dolphin.jpeg" hspace ="20" />
    <iframe class = "video" id = "ocean_vid" src = "https://www.youtube.com/embed/c3-Zfejm8gQ?enablejsapi=1"  frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
    <img id = "coffee" class = "cover" src="pictures/coffee.jpg" hspace ="20" />
    <iframe  class = "video" id = "coffee_vid" src = "https://www.youtube.com/embed/BOdLmxy06H0?enablejsapi=1"  frameborder="0" allowfullscreen></iframe>
  </div>
    </td>
    <td>
  <div>
     <img id="train" class = "cover" src="pictures/train.jpg" hspace ="20" />
    <iframe class = "video" id = "train_vid"  src="https://www.youtube.com/embed/SW1k7DObaX4?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
 </div>
    </td>
  </tr>

<tr>
</tr>

<tr class = "description">
  <td> Volcano </td>
  <td> Birds </td>
  <td> Ocean Animale </td>
  <td> Coffee </td>
  <td> Train </td>
</tr>

</div>

</table>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="script/music.js"></script>
  </body>
</html>
