h2{
  color: blue;
  font-style: italic;
}

p{

  font-family: 'Francois One', sans-serif;
}
ol{
  list-style-type: lower-greek;
  list-style-position: inside;
}
h1{
  font-family: 'Francois One', sans-serif;
  background: ;
  color: blue;
}
body{
  background-color:rgb(209,209,209);
  font-family: 'Francois One', sans-serif;
}
#aaa{text-align: center;}
#ccc{text-align: center;}
#eee img{
  width: 450px;
  height: 300px;
  display: inline-block;
  position: relative;
}

.aaa{text-align: left;}
